<app-navbar></app-navbar>
<h1>Add Student</h1>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="Name" class="form-control">Faculty Name</label>
                    <input type="text" class="form-control"name="name" >
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="gender" class="form-control">Department</label>
                    <select name="department"  id="">
                        <option value="Computer Science Engineering">Computer Science Engineering</option>
                        <option value="Mechanicl Engineering">Mechanicl Engineering</option>
                        <option value="Civil Engineering">Civil Engineering</option>
                        <option value="Electronics and Electrical Engineering">MCA</option>
                        <option value="MCA">MCA</option>
                    </select>
                   </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="Mobile" class="form-control">Designation</label>
                    <input type="text" class="form-control" name="">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="DOB" class="form-control">DOB</label>
                    <input type="date"  id=""name="dob">
                  

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="Mobile" class="form-control">Education Qualification</label>
                    <input type="text" class="form-control" name="">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="Address" class="form-control">Address</label>
                    <textarea class="form-control" id="" cols="50" rows="10" name="address"></textarea>
                    

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="Mobile" class="form-control">Mobile No</label>
                    <input type="text" class="form-control" name="college">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="DOB" class="form-control">DOJ</label>
                    <input type="date"  id=""name="dob">
                  

                </div>
               
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success">Submit</button>
                 </div>
                 
            </div>
        </div>
    </div>
</div>